{% extends "base.html" %}
{% block content %}

	<div class="ui container">
		<h1>Confirm Ticket</h1>
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Departure Station</th>
					<th>Arrival Station</th>
					<th>Time of Departure (EST)</th>
					<th>Time of Arrival(EST)</th>
					<th>Trip Date</th>
					<th>Fare</th>
					<th>Confirm</th>
				</tr>
			</thead>
			{% if trips %}
			<tbody>
				{% for trip in trips %}
							<td>{{ trip['departure_station'] }}</td>
							<th>{{ trip['arrival_station'] }}</th>
							<td>{{ trip['Time of Departure(EST)'] }}</td>
							<td>{{ trip['Time of Arrival(EST)'] }}</td>
							<td>{{ trip['trip_date'] }}</td>
							<td>${{ trip['fare'] }}</td>
							<td><form method="post" action="/f17336pteam3{{ url_for('confirmReservation')}}"><button type="submit" class="ui button" name="select" value="{{ trip['departure_station'] }}//{{trip['arrival_station']}}//{{trip['Time of Departure(EST)'] }}//{{trip['Time of Arrival(EST)']}}//{{trip['fare']}}//{{trip['train_id']}}">Confirm
							</button></form></td>
						</tr>
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
	</div>
	
{% endblock %}
