{% extends "base.html" %}
{% block content %}
	<form method="post" action="{{ url_for('index') }}">
		<div class="ui container form">
			<div class="field">
				<label>Depart</label>
				<select name="depart" class="ui selection dropdown">
					{% if stations %}
						{% for station in stations %}
							<option class="item" value="{{ station[0] }}">{{ station[2] }} - {{ station[1] }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="field">
				<label>Arrive</label>
				<select name="arrive" class="ui selection dropdown">
					{% if stations %}
						{% for station in stations %}
							<option class="item" value="{{ station[0] }}">{{ station[2] }} - {{ station[1] }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="field">
				<label>Travel Date</label>
				<input class="ui" type="date" name="date" />
			</div>
			<input class="ui button" type="submit" value="Submit" />
		</div>
	</form>
	{% if headers %}
	<div class="ui container">
		<table class="ui celled table">
			<thead>
				<tr>
					{% for attribute in headers %}
						<th>{{ attribute[0] }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% if results %}	
				<tbody>
					{% for result in results %}
						<tr>
							<td>{{ result[0] }}</td>
							<td>{{ result[1] }}</td>
							<td>{{ result[2] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			{% endif %}
		</table>
	</div>
	{% endif %}
{% endblock %}
