{% extends "base.html" %}
{% block content %}
	<form method="post" action="/f17336pteam3{{ url_for('index') }}">
		<div class="ui container form">
			<h1 class="ui header">Book a ticket</h1>
			<div class="field">
				<label>Depart</label>
				<select name="depart" class="ui fluid dropdown">
					{% if stations %}
						{% for station in stations %}
							<option value="{{ station[0] }}">{{ station[2] }} - {{ station[1] }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="field">
				<label>Arrive</label>
				<select name="arrive" class="ui fluid dropdown">
					{% if stations %}
						{% for station in stations %}
							<option value="{{ station[0] }}">{{ station[2] }} - {{ station[1] }}</option>
						{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="field">
				<label>Travel Date YYYY-MM-DD</label>
				<input id="traveldate" class="ui" type="date" name="travel_date" />
			</div>
			<input class="ui button" type="submit" value="Submit" />
		</div>
	</form>
	{% if headers %}
	<div class="ui container">
		<table class="ui celled table">
			<thead>
				<tr>
					{% for attribute in headers %}
						<th>{{ attribute[0] }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% if results %}	
				<tbody>
					{% for result in results %}
						<tr>
							<td>{{ result[0] }}</td>
							<td>{{ result[1] }}</td>
							<td>{{ result[2] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			{% endif %}
		</table>
	</div>
	{% endif %}
	<script>
		document.getElementById('traveldate').valueAsDate = new Date();
	</script>
{% endblock %}
