{% extends "base.html" %}
{% block content %}

	<form method="post" action="/f17336pteam3{{ url_for('index') }}">
		<div class="ui container form">
		<div class="field"
		   <label>Enter First Name: </label>
		   <textarea rows="1" name="Fname" placeholder="First Name" required>Enter First name </textarea>

		   <label>Enter Last Name: </label>
		   <textarea rows="1" name="Fname" placeholder="First Name" required>Enter Last name </textarea>
	
		   <label>Enter Address: </label>
		   <textarea rows="1" name="Fname" placeholder="First Name" required>Enter Address </textarea>

		   <label>Enter E-mail: </label>
		   <textarea rows="1" name="Fname" placeholder="First Name" required>Enter Email </textarea>

		   <label>Enter First Name: </label>
		   <textarea rows="1" name="Fname" placeholder="First Name" required>Enter First name </textarea>
	<input class="ui button" type="submit" value="Submit" />
		</div>
	</form>
	{% if headers %}
	<div class="ui container">
		<table class="ui selectable celled table">
			<thead>
				<tr>
					{% for attribute in headers %}
						<th>{{ attribute[0] }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% if results %}	
				<tbody>
					{% for result in results %}
						<tr>
							<td>{{ result[0] }}</td>
							<td>{{ result[1] }}</td>
							<td>{{ result[2] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			{% endif %}
		</table>
	</div>
	{% endif %}
{% endblock %}
