{% extends "base.html" %}
{% block content %}

	<div class="ui container">
		<h1>My Tickets</h1>
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Reservation Number</th>
					<th>Reservation Date</th>
					<th>Trip Date</th>
					<th>Departure Station</th>
					<th>Arrival Station</th>
					<th>Fare</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			{% if trips %}
			<tbody>
				{% for trip in trips %}
					{% if trip['trip_date'] <= trip['trip_date'].now() %}
						<tr>
							<td>{{ trip['reservation_id'] }}</td>
							<th>{{ trip['reservation_date'] }}</th>
							<td>{{ trip['trip_date'] }}</td>
							<td>{{ trip['departure_station'] }}</td>
							<td>{{ trip['arrival_station'] }}</td>
							<td>${{ trip['fare'] }}</td>
							<td><form method="post" action="/f17336pteam3{{ url_for('cancelReservation', reservation_id=(trip['reservation_id']|string)) }}"><button type="submit" class="ui button">Cancel</button></td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
	</div>
	
{% endblock %}
