{% extends "base.html" %}
{% block content %}
	<!-- <form method="post" action="/f17336pteam3{{ url_for('viewTrains') }}">
		<div class="ui container form">
			<div class="field">
				<label>Enter a SQL command here:</label>
				<textarea rows="2" name="command" placeholder="SQL command here." required>SELECT * FROM stations;</textarea>
			</div>
			<input class="ui button" type="submit" value="Submit" />
		</div>
	</form> -->
	{% if session['listings'] %}
	<div class="ui container">
		<h1>Tickets from {{ session['from'] }} to {{ session['to'] }} on {{ session['date'] }}</h1>
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Departure Station</th>
					<th>Arrival Station</th>
					<th>Time of Departure (EST)</th>
					<th>Time of Arrival (EST)</th>
					<th>Cost of Ticket</th>
				</tr>
			</thead>
			<tbody>
				{% for listing in session['listings'] %}
					<tr method="POST" action="/f17336pteam3{{url_for('viewTrains')}}">
						<td name="dep_station" value="{{ listing['departure_station'] }}" >{{ listing['departure_station'] }}</td>
						<td>{{ listing['arrival_station'] }}</td>
						<td>{{ listing['depart_time'] }}</td>
						<td>{{ listing['arrive_time'] }}</td>
						<td>${{ listing['cost'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
{% endblock %}
