{% extends "base.html" %}
{% block content %}	
	{% if session['listings'] %}
	<form method="post" action="/f17336pteam3{{url_for('viewTrains')}}">
	<div class="ui container">
		<h1>Tickets from {{ session['from'] }} to {{ session['to'] }} on {{ session['date'] }}</h1>
		<table class="ui selectable celled table">
			<thead>
				<tr>
					<th>Select This option</th>
					<th>Departure Station</th>
					<th>Arrival Station</th>
					<th>Time of Departure (EST)</th>
					<th>Time of Arrival (EST)</th>
					<th>Cost of Ticket</th>
				</tr>
			</thead>
			<tbody>
				{% for listing in session['listings'] %}
					<tr>
						<td><input type="radio" name="select" value="{{ listing['departure_station'] }} {{ listing['arrival_station'] }} {{ listing['depart_time'] }} {{ listing['arrive_time'] }} {{ listing['cost'] }}"> </td>
						<td >{{ listing['departure_station'] }}</td>
						<td>{{ listing['arrival_station'] }}</td>
						<td>{{ listing['depart_time'] }}</td>
						<td>{{ listing['arrive_time'] }}</td>
						<td>${{ listing['cost'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	<input class="ui button" type="submit" value="Submit">

	</form>
{% endblock %}
